.cover__background-image {
  width: 100%;
  min-height: 740px;
  background-image: url("../../../images/cover__background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .cover__background-image {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background-image {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background-image {
    min-height: 200px;
  }
}
